@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

.app {
  background-image: url("https://www.transparenttextures.com/patterns/soft-circle-scales.png");
  background-color: rgba(28, 30, 30, 0.709);
  font-family: 'Chakra Petch', sans-serif;

  main {
    padding-block: 50px;
  }
}